    <script src="/assets/js/site.js"></script>
    <script src="/assets/js/image-manifest.js"></script>
    <script src="/assets/js/main.js"></script>
{%- for src in extraJs %}
    <script src="{{ src }}"></script>
{%- endfor %}
